.main-sign-up {
  padding-top: 106px;
}

.progresses {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 120px;
  height: 2px;
  background: $primary;
}

.steps {
  display: flex;
  background-color: $primary;
  color: #fff;
  font-size: 14px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
